.examples {
  margin: 0px 0px 40px 0px;
  text-align: center;
  /* Центрируем все содержимое в секции */
}

.examples__container {
  background-color: #fff6e5;
  max-width: 1200px;
  border: 3px solid #232324;
  border-radius: 4px;
  box-shadow: 8.668px 6.772px 0px 0px rgba(0, 0, 0, 0.26);
}


.examples h2 {
  font-size: 30px;
  background-color: #fff6e5;
  color: #232324;
  display: flex;
  padding: 10px 10px 10px 20px;
  border-bottom: 4px solid #232324;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}

.gallery-item {
  position: relative;
  cursor: pointer;
}

.gallery-image {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.05);
}

.zoom-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgba(233, 233, 233, 0.6);
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery-item:hover .zoom-icon {
  opacity: 1;
}

/* Модальное окно */
.img-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 30px 15px;
}

.modal-close {
  color: rgb(82, 223, 129);
  font-size: 32px;
  position: absolute;
  z-index: 3;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.modal-image {
  max-width: 100%;
  transition: transform 0.2s;
}

/* Адаптивность */
@media (max-width: 768px) {
  .gallery-image {
    width: 100%;
  }
  .modal-close {
    top: 30px;
    right: 20px;
  }
}

@media (max-width: 510px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9px;
  }
}

.image-notfound {
  height: 300px !important;
  background: url("/images/not-found.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 900px) {

  .gallery img {
    width: 100%;
  }
}