.popup {
	display: none;
	/* Изначально окно скрыто */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* Ширина 100% от окна */
	height: 100%;
	/* Высота 100% от окна */
	background-color: rgba(0, 0, 0, 0.7);
	/* Полупрозрачный фон */
	z-index: 1000;
	animation: popupAnim 0.1s linear forwards;
}

.popup-active .popup {
	display: block;
}

/* Анимация для вылетающего окна */
@keyframes popupAnim {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes popupContentAnim {
	from {
		transform: translate(-50%, -100%);
	}

	to {
		transform: translate(-50%, -50%);
	}
}

/* Стили для содержимого окна */
.popup-content {
	background-color: #E8DCD0;
	padding: 35px;
	border-radius: 5px;
	text-align: center;
	margin: auto;
	position: absolute;
	min-width: 548px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -200%);
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 8px solid #404046;
	animation: popupContentAnim 0.3s ease-out forwards;
}

.popup-link {
	font-size: 22px;
	display: flex;
	align-items: center;
	gap: 20px;
	font-family: "anonymousprobold", sans-serif;
	cursor: pointer;
	text-decoration: none;
}

.link-wrapper {
	display: flex;
	align-items: center;
	gap: 5px;
}

.popup__button {
	background-color: #2e2e35;
	padding: 4px;
	border-radius: 4px;
	position: relative;
	transition: all 0s linear 0s;
	flex: 0 0 auto;
}

.show-ok {
	background-color: #186600;
}

._paypal span {
	display: block;
	padding: 4px 8px;
	border: 1px solid #404046;
	border-radius: 4px;
	text-wrap:initial;
}

.popup__close {
	font-size: 32px;
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}

.paypalimg {
	width: 100px;
	/* Размер картинки (можно настроить) */
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paypalimg .logo-img {
	width: 100%;
	/* Изображение будет адаптироваться по ширине */
	height: auto;
	border-radius: 5px;
	/* Закругление углов картинки (по желанию) */
	transition: transform 0.3s ease, opacity 0.3s ease;
	/* Плавный переход */
}

.popup-link:hover .logo-img {
	transform: scale(1.1);
	/* Увеличение картинки при наведении */
	opacity: 0.9;
	/* Немного прозрачности */
}

/* Стили для кнопки закрытия */
.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 40px;
	cursor: pointer;
}

/* Стили для кнопки открытия окна */
#openBtn {
	cursor: pointer;
	border: none;
	border-radius: 5px;
}



@media (max-width: 652px) {
	._paypal span {
		font-size: 18px;
	}
	.popup-content {
		min-width: 0;
		width: 98%;
		padding: 15px;
	}
}

@media (max-width: 492px) {
	.popup-link {
		flex-direction: column;
		align-items: flex-start;
	}
	.link-wrapper {
		align-items: flex-end;
	}
	.paypalimg .logo-img {
		max-width: 70px;
	}
	.paypalimg {
		width: auto;
	}
}