/* Контейнер для карточек */
.cardbox {
	background: #2e2e35;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.562);
}

.cardbox__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
	max-width: 1170px;
	width: 100%;
	overflow: hidden;
	margin: 20px 0; /* Добавляет расстояние сверху и снизу */
}

/* Стили для карточек */
/* Карточка */
.card {
	position: relative;
	flex: 1 1 23%;
	min-width: 277.5;
	padding: 35px 20px;
	border-radius: 2px;
	width: 100%;
	background-color: #40404654;
}

.card__top {
	position: relative;
	color: #eee;
	font-size: 24px;
	gap: 18px;
	margin: 0px 0px 9px 0px;
	display: inline-block;
}


/* .card__top .iconshveya {
	width: 45px;
	min-width: 45px;
}

.card__top .iconshveya img {
	width: 45px;
} */

.card__title {
	font-family: "unbounded", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	font-weight: bold;
	margin: 0px 0px 12px 0px;
	max-width: 700px;
	color: #eee;
}

/* Нижняя часть карточки */
.card__bottom {}

.card__number {
	font-size: 38px;
	font-family: 'intro', sans-serif;
	color: #eee;
	text-align: left;
	position: relative;
	z-index: 2;
}

/* Адаптивный стиль */
/* @media (max-width: 901px) {
	.cardbox__container {
		flex-direction: column;
		align-items: center;
	}

	.card {
		flex: 1 1 100%;
		width: 100%;
	}
} */