.video {
	margin: 0px 0px 50px 0px;
	text-align: center; /* Центрируем все содержимое в секции */
  }
  
  .video .video__container {
	background-color: #E8DCD0; /* Белый фон для контейнера */
	padding: 20px; /* Отступы внутри контейнера */
	border-radius: 2px; /* Округлые углы */
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.63);
	border-style: solid;
  	border-width: 1px;
 	border-color: rgb(117, 117, 117);
	width: 100%; /* Контейнер занимает всю доступную ширину */
	max-width: 1200px; /* Максимальная ширина контейнера */
	margin: 0 auto; /* Центрируем контейнер */
	margin-top: 30px; /* Отступ сверху */
  }
  
  .video h2 {
	font-size: 26px;
	text-align: center; /* Центрируем текст */
	background-color: #2e2e35;
	color: #E8DCD0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	border-radius: 5px;
	margin-bottom: 20px;
  }
  
  .video__body {
	position: relative;
  }
  
  .video__media {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
  }
  
  .video__media iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  .spinner-border {
	display: inline-block;
	width: 5rem;
	height: 5rem;
	vertical-align: text-bottom;
	border: 0.25em solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	animation: spinner-border 0.75s linear infinite;
	position: absolute;
	top: calc(50% - 2.5rem);
	left: calc(50% - 2.5rem);
  }
  
  @keyframes spinner-border {
	100% {
	  transform: rotate(360deg);
	}
  }
  
  .visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
  }
  
  /* Стили для ul и li */
  .video__body ul {
	padding: 0;
	list-style-type: none;
	text-align: left;
	margin-top: 20px;
  }
  
  .video__body li {
	font-size: 18px;
	color: #333;
	margin-bottom: 10px;
  }
  
  .video__body a {
	color: #4682B4;
	text-decoration: none;
  }
  
  .video__body a:hover {
	color: #d46f1d;
	text-decoration: underline;
  }
  