.map {
	position: relative;
	z-index: 2;

}

.map__container {
	background: #232324;
	padding: 30px 0px 0px 0px;
}



.map__body {
	position: relative;
	height: 620px;
	max-width: 1500px;
	padding: 0px 15px 50px 15px;
	margin: 0 auto;
	overflow: visible;
}



.leaflet-container {
	border: 3px solid #fff6e5;
}

.marker__title {
	font-size: 20px;
	margin: 0px 0px 10px 0px;
}

.marker__street {
	font-size: 16px;
	margin: 0px 0px 10px 0px;
}

.map__title {
	color: #fff6e5;
	font-size: 40px;
	font-family: 'Caviar Dreams Bold', sans-serif;
}

.map_line {
	max-width: 600px;
	height: 3px;
	width: 100%;
	background-color: #fff6e5;
	margin: 0 auto 20px auto;
}


.marker {
	display: flex;
	gap: 15px;
	max-width: 400px !important;
}

.marker__logo {
	min-width: 120px;
}

.leaflet-popup {
	z-index: 1001 !important;
  }

.leaflet-popup-content {
	width: auto !important;
}

@media (max-width: 574px) {
	.marker__title {
		font-size: 18px;
	}

	.marker__number {
		font-size: 14px;
	}

	.marker {
		flex-direction: column;
		max-width: 300px !important;
	}

	.marker__logo {
		min-width: 70px;
	}
	
}

@media (max-width: 768px) {
	.map__title {
		font-size: 26px;
	}
	.map_line {
		width: 60%;
	}
}