.map {
	position: relative;
	z-index: 2;

}

.map__container {
	background: #2e2e35;
	padding: 30px 0px 0px 0px;
}

.map__body {
	height: 520px;
	max-width: 1200px;
	padding: 0px 15px 50px 15px;
	margin: 0 auto;
}

.leaflet-container {
	border: 6px solid #404046;
}

.marker__title {
	font-size: 20px;
	margin: 0px 0px 10px 0px;
}

.marker__street {
	font-size: 16px;
	margin: 0px 0px 10px 0px;
}

.map__title {
	color: #e8dcd0;
	text-align: left;
	max-width: 1200px;
	margin: 0px auto 20px auto;
	padding: 0px 15px 0px 15px;
}

.marker {
	display: flex;
	gap: 15px;
	max-width: 400px !important;
}

.marker__logo {
	min-width: 120px;
}

.leaflet-popup-content {
	width: auto !important;
}

@media (max-width: 574px) {
	.marker__title {
		font-size: 18px;
	}

	.marker__number {
		font-size: 14px;
	}

	.marker {
		flex-direction: column;
		max-width: 300px !important;
	}

	.marker__logo {
		min-width: 70px;
	}
}