.map {
	position: relative;
	z-index: 2;
	border-top: 12px solid #404046;
}

.map__container {
	background: #2e2e35;
	padding: 30px 0px 0px 0px;
}

.map__body {
	height: 520px;
	max-width: 1200px;
	padding: 0px 15px 50px 15px;
	margin: 0 auto;
}

.leaflet-container {
	border: 6px solid #404046;
}

.marker__title {
	font-size: 20px;
	margin: 0px 0px 10px 0px;
}

.marker__street {
	font-size: 16px;
	margin: 0px 0px 10px 0px;
}

.map__title {
	color: #e8dcd0;
	text-align: center;
	margin: 0px 0px 40px 0px;
}