/* Спойлер */
.spoller {
	margin: 0px 0px 20px 0px;
}

.spoller__title {
	cursor: pointer;
	font-size: 20px;
	color: #232324;
	font-family: 'intro', sans-serif;
	text-shadow: 0.788px 0.616px 0px rgba(0, 0, 0, 0.57);

	white-space: normal;
	word-break: break-word;
	overflow-wrap: break-word;
}

  

.spoller__button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: relative;
	padding-right: 30px;
	border-radius: 5px;
	max-width: 250px;
}

.spoller__body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 20px;
	overflow: hidden;
	height: 0;
	transition: height 0.5s ease;
}
