.aside {
	background-color: #2e2e35;
	padding: 20px 35px 20px 20px;
	width: 300px;
	min-height: 100vh;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 0px 13px 13px 0px;
}

/* Для мобильных устройств */
@media (max-width: 900px) {
	.aside {
		width: 100%;
		min-height: auto;
		margin-bottom: 20px;
		padding: 15px;
		border-radius: 0px;
	}
}