.aside {
	background-color: #2e2e35;
	padding: 17px;
	width: 255px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 17px;
	padding-top: 102px;
	position: fixed;
	top: 0;
	left: 0;
	transition: transform 0.3s ease;
	z-index: 3;
}

/* Скрытие боковой панели */
.aside.closed {
	transform: translateX(-100%);
}

/* Основной контент */
.main-content {
	transition: margin-left 0.3s ease;
}

/* Когда aside открыт — отступ */
body.expanded .main-content {
	margin-left: 275px;
}

/* Кнопка скрытия/открытия панели */
.toggle-button {
	position: absolute;
	top: 50%;
	right: -38px;
	transform: translateY(-50%);
	background-color: #2e2e35;
	border: none;
	width: 38px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
	transition: right 0.3s ease, background-color 0.3s ease;
}

/* Иконка кнопки */
.toggle-icon {
	width: 42%;
	height: 42%;
	background-image: url("/images/pointer.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 0.3s ease;
}

/* Поворот иконки */
.toggle-icon.rotated {
	transform: rotate(180deg);
}

.toggle-button:hover {
	background-color: #25252a;
}

/* Стили для активной категории */
.spoller-active {
	font-weight: bold;
	color: red;
}
