.cardbox {
	min-height: 200px;
	background: #232324;
	padding: 30px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.cardbox__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
	align-items: stretch;
	/* Все карточки растягиваются до одинаковой высоты */
}
.card__title__main-title{
	color: #fff6e5;
	font-size: 40px;
	font-family: 'Caviar Dreams Bold', sans-serif;
}

.card__line{
	max-width: 600px;
	height: 3px;
	width: 100%;
	background-color: #fff6e5;
	margin: 0 20 20 20;
}
.card {
	background-color: #232324;
	border-radius: 5px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
	padding: 20px;
	width: clamp(300px, 40vw, 300px);
	min-width: 260px;
	/* Ограничение по ширине */
	width: clamp(auto);
	min-height: 160px;
	/* Минимальная высота карточки */
	/* Для абсолютного позиционирования иконки */
	display: flex;
	flex-direction: column;
	;
	/* Контент привязан к верху */
	justify-content: center;
	flex-grow: 1;
	box-sizing: border-box;
	flex-direction: row;
	border: 3px solid #fff6e5;
	/* Чтобы текст и иконка были в ряд */
}

@media (max-width: 720px) {
    .card__title__main-title{

		font-size: 25px;

	}
	
	.card__line{
		max-width: 300px;
	}
}
