.author {
	margin: 0px 0px 40px 0px;
}

.author__container {
	background-color: #fff6e5;
	border-radius: 2px;
	border: 3px solid #232324;
	max-width: 1200px;
	margin-left: 0;
	margin-top: 30px;
	position: relative;
	box-shadow: 8.045px 7.502px 0px 0px rgba(0, 0, 0, 0.3);
}

.author h2 {
	font-size: 28px;
	padding: 10px 10px 10px 40px;
	color: #232324;
	display: inline-block;
	border-bottom: 3px solid #232324;
	width: 100%;
}

.author__list {
	font-size: 18px;
	color: #232324;
	padding: 15px 20px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

.author__list div {
	padding: 10px 15px;
	display: inline-block;
	font-family: 'Caviar Dreams Bold', sans-serif;
	font-weight: 600;
}

