.master-class {

	display: flex;
	flex-direction: column; /* или row — зависит от желаемой оси */
	gap: 10px;
}

.lekala_container {
	margin-top: 35px;
	background-color: #fff6e5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    border: 3px solid rgb(46, 46, 53); 
    box-shadow: 6.314px 4.82px 0px 0px rgba(0, 0, 0, 0.17);
	width: 100%;
}


  

.lekala_container h2 {
	font-size: 25px;
}
.masterclass-title-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	
}
.column_title_masterclass {
	background-color: #2e2e35;
	height: 5px; 
	max-width: 850px;
	width: 100%;
}

.master-class__body {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.master-class__preview {
	max-width: 280px;
	max-height: 280px;
}


.masterclass-title {
	font-size: 46px;
	color: 232324;
	font-family: 'intro', sans-serif; 
	display: flex;
	/* Використовуємо Flexbox для центрівки контенту */
	justify-content: center;
	/* Центрує контент по горизонталі */
	align-items: center;
	/* Центрує контент по вертикалі */
	width: 100%;
	text-shadow: 3.94px 3.078px 0px rgba(0, 0, 0, 0.35);
	padding: 10px;
	
}

  
.masterclass-subcategory-container {
		background-color: #fff6e5;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border: 3px solid rgb(46, 46, 53);
	border-radius: 5px;
	box-shadow: 8.045px 7.502px 0px 0px rgba(0, 0, 0, 0.29);
}
  



.masterclass-subcategory-container ul {
	list-style-type: none;
	/* Убираем маркеры списка */
	padding: 0;
	margin-top: 0;
	/* Убираем отступ сверху */
	margin-bottom: 0;
	/* Убираем отступ снизу */
}

.masterclass-subcategory-container li {
	font-size: 22px;
	text-align: left;
	margin-bottom: 10px;
	font-family: 'Caviar Dreams Bold', sans-serif;
}

.lekala-link {
	font-size: 18px;
	color: #4682B4;
	/* Синий цвет для ссылок */
}

.invalid-link {
	font-family: 'intro', serif;
	color: #d46f1d;
	font-size: 15px;
	font-style: italic;
	font-weight: 500;
	position: relative;
}

@media (max-width: 590px) {
	.masterclass-subcategory-container li {
		font-size: 14px;
	}
	.lekala-link {
		font-size: 16px;
	}
	.master-class__preview {
		max-width: 100%;
		max-height: 100%;
	}
}