.infobox {
	position: relative;
	min-height: 566px;
}

.infobox__container {
	position: relative;
	max-width: 1200px;
	padding: 80px 15px;
	margin: 0 auto;
}

.swiper__container {
	max-width: 1100px;
	margin: 0 auto;
}

.infobox__slide {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 70px;
}

.swiper-wrapper {
	align-items: center;
}

.infobox .left {
	min-width: 356px;
}

.infobox .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.right h1 {
	font-size: 28px;
	/* Относительный размер шрифта */
	color: #2e2e35;
	margin-top: 3%;
	margin-right: 4%;
	font-family: 'intro', sans-serif;
	text-align: center;
	/* Дополнительное центрирование текста */
}

.right h2 {
	color: #2e2e35;
	font-family: 'anonymousprobold', sans-serif;
	font-size: 24px;
	line-height: 1.2;
	text-align: center;
	margin-top: 2%;
}

.icon_shveya img {
	max-width: 100%;
}

.infobox__container1 {
	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 120px 15px 120px 15px;
	text-align: center;
}

/* Стили для h2 */
.infobox__container1 h2 {
	font-size: 24px;
	color: #2e2e35;
	font-family: 'anonymousprobold', sans-serif;
	line-height: 1.5;
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}


.infobox__container1 h1 {
	font-size: 32px;
	margin: 0px 0px 30px 0px;
	background-color: #e5a462;
	padding: 5px;
	border-radius: 5px;
	color: #2e2e35;
}

.infobox__container1 h2 p {
	text-align: left;
	color: #eee;
	font-size: 26px;
	font-weight: 600;
	font-family: "unbounded", Arial, Helvetica, sans-serif;
	max-width: 800px;
}

._italic {
	font-style: italic;
	color: #e5a462;
}

.infobox__container1 h2 p:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

._right {
	text-align: right !important;
	align-self: flex-end;
}

@media (max-width: 768px) {
	.infobox__container1 h1 {
		font-size: 26px;
	}
	.infobox__container1 {
		padding: 60px 15px;
	}
	.infobox__container1 h2 p {
		font-size: 20px;
	}
}

@media (max-width: 900px) {
	.infobox__slide {
		flex-direction: column-reverse;
		gap: 30px;
		padding: 20px 15px;
	}
	.right h1 {
		font-size: 26px;
	}
	.right h2 {
		font-size: 22px;
	}
}

.order {
	position: relative;
	max-width: 1100px;
	padding: 0 15px;
	margin: 0px auto 80px auto;
	display: flex;
	justify-content: center;
}

.order__link {
	position: relative;
	z-index: 2;
	font-size: 32px;
	font-family: 'anonymousprobold', sans-serif;
	display: inline-block;
	margin: 0 auto;
	background-color: #2e2e35;
	color: #E8DCD0;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #2e2e35;
	transition: all 0.3s ease 0s;
}

.order__link:hover {
	background-color: #42424c;
}

.swiper-pagination {
	margin: 35px 0px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.swiper-bullet {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #2e2e35;
	cursor: pointer;
}

.bullet-active {
	background-color: #e5a462;
}

@media (max-width: 900px) {
	.infobox__container {
		padding: 20px 15px 45px 15px;
	}

	.order__link {
		font-size: 24px;
	}
}