/* Кнопка скрытия/открытия панели */
.toggle-button {
  position: absolute;
  top: 50%; 
  right: -46px; /* Увеличиваем отступ, чтобы кнопка явно выступала */
  transform: translateY(-50%);
  background-color: #232324; 
  border: none;
  width: 40px;
  height: 48px;
  display: flex;
  
  cursor: pointer;
  border-radius: 5px;
  z-index: 9999 !important; 
  box-shadow: 1.94px 2.078px 0px 0px rgba(0, 0, 0, 0.37);
}




/* Стили для кнопки, когда aside закрыт */
.aside.closed .toggle-button {
  right: -52px;
}

/* Иконка кнопки */
.toggle-icon {
  width: 36%;
  height: 36%;
  background-image: url("/images/pointer.png"); /* Проверьте, что путь корректный */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
}

/* Поворот иконки (например, когда панель свернута) */
.toggle-icon.rotated {
  transform: rotate(180deg);
}

/* Ховер-эффект для кнопки */
@media (hover: hover) {
  .toggle-button:hover {
    background-color: #46464d;
  }
}

@media (max-width: 600px) {
  .toggle-button {
    width: 36px;
    height: 44px;
  }
  .aside.closed .toggle-button {
    right: -44px;
  }
}