body {
	padding: 0px 0px 0px 0px;
}

.wrapper {
	background-color: #eee;
	min-height: 100vh;
	padding: 0px 0px 56px 0px;
}

.list-group-item:not(:last-child) {
	margin: 0px 0px 2px 0px;
}

.admin__title {
	font-size: 32px;
	color: #2e2e35;
}

.admin-title {
	font-size: 32px;
	color: #2e2e35;
}

._plus {
	font-size: 18px;
}

.list-group-item a {
	color: #000;
	text-decoration: none;
}

.btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.main__columns {
	display: flex;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;
	gap: 80px;
}

.lead-column {
	flex: 1 1 auto;
}

.actions__body {
	max-width: 350px;
	background-color: #fff;
	padding: 15px;
	border: 1px solid #dee2e6;
	border-radius: .375rem;
}

.actions__action {
	display: flex;
	gap: 14px;
}

.actions__action:not(:last-child) {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #dee2e6;
}

.actions__name {
	font-weight: 600;
}

@media (max-width: 992px) {
	.main__columns {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.actions__body {
		max-width: none;
	}
}

/* ======================================================================================================================================================== */
.nav-item {
	display: flex;
	align-items: center;
}

.btn-primary {
	padding: 6px 35px;
}

.form {
	max-width: 900px;
}

.items__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn-outline-secondary:hover {
	background-color: inherit;
	color: #B89230;
}

.form-label {
	font-size: 20px;
}


.password_input {
	width: 100%;
}

.settings-password-wrapper {
	display: flex;
	align-items: center;
	border: 1px solid #ced4da;
	border-radius: 0.375rem;
	overflow: hidden;
	background-color: #f8f9fa;
	flex: 1 1 auto;
}

.settings__label {
	padding: 0.375rem 0.75rem;
	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	color: #212529;
	white-space: nowrap;
	border-radius: 5px 0px 0px 5px;
}

.settings__input {
	flex-grow: 1;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: none;
	outline: none;
}

.settings__input:focus {
	background-color: #fff;
	outline: none;
}

.settings-toggle-password {
	padding: 0.375rem 0.75rem;
	background: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	color: #495057;
}