.details {
  margin: 0px 0px 40px 0px;
  text-align: center;
  /* Центрируем весь контент */
}

.details__container {
  background-color: #fff6e5;
  border-radius: 2px;
  border: 1px solid rgb(117, 117, 117);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 3px solid #232324;
  box-shadow: 8.668px 6.772px 0px 0px rgba(0, 0, 0, 0.26);
}



.details h2 {
  font-size: 23px;
  background-color: #fff6e5;
  color: #232324;
  display: flex;
  width: auto;
  padding: 10 10 10 30;
  margin-bottom: 20px;
  border-bottom: 3px solid #232324;
}

.details p {
  padding: 10 0 0 20;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 25px;
  font-family: 'Caviar Dreams Bold', sans-serif;
  font-weight: 600;
  white-space: pre-wrap;
  word-break: break-word;
}

@media (max-width: 900px) {

  .details h2 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .details p {
    font-size: 16px;
  }
}