.author {
	margin: 0px 0px 40px 0px;
	/* Убираем центрирование всего содержимого */
}

.author__container {
	background-color: #E8DCD0;
	/* Фон контейнера */
	padding: 20px;
	/* Увеличил верхний паддинг, чтобы заголовок влез */
	border-radius: 2px;
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.63);
	border: 1px solid rgb(117, 117, 117);
	max-width: 1200px;
	/* Устанавливаем максимальную ширину контейнера */
	margin-left: 0;
	/* Отменяем автоцентрирование */
	margin-top: 30px;
	position: relative;
}

.author h2 {
	font-size: 20px;
	background-color: #2e2e35;
	color: #E8DCD0;
	display: inline-block;
	align-items: center;
	justify-content: center;
	padding: 8px 20px;
	border-radius: 5px;
	width: auto;
	margin: 0px 0px 15px 0px;
}

.author__list {
	font-size: 18px;
	color: #2e2e35;
	padding: 15px 20px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

.author__list div {
	padding: 10px 15px;
	display: inline-block;
	font-family: 'unbounded';
	font-weight: 600;
}