.infobox {
	position: relative;
	min-height: 566px;
}

.loading-box {
	display: flex;
	align-items: center;
}

.infobox__container {
	position: relative;
	max-width: 1200px;
	padding: 80px 15px;
	margin: 0 auto;
}

.swiper__container {
	max-width: 1100px;
	margin: 0 auto;
}

.infobox__slide {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
}

.swiper-wrapper {
	align-items: center;
}

.infobox .left {
	min-width: 356px;
}

.infobox .right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.right h1 {
	font-size: 28px;
	/* Относительный размер шрифта */
	color: #2e2e35;
	margin-top: 3%;
	margin-right: 4%;
	font-family: 'intro', sans-serif;
	text-align: center;
	/* Дополнительное центрирование текста */
}

.right .infobox__text {
	color: #2e2e35;
	font-family: 'anonymousprobold', sans-serif;
	font-size: 24px;
	line-height: 1.2;
	text-align: left;
	margin-top: 2%;
	text-indent: 2em;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.icon_shveya {
	height: 356px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.icon_shveya img {
	max-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0px, -50%);
}

._italic {
	font-style: italic;
	color: rgb(82, 223, 129);
}

.infobox__container1 h2 p:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

._right {
	text-align: right !important;
	align-self: flex-end;
}

@media (max-width: 768px) {
	.infobox__container1 h1 {
		font-size: 26px;
	}

	.infobox__container1 {
		padding: 60px 15px;
	}

	.infobox__container1 h2 p {
		font-size: 20px;
	}
}

@media (max-width: 900px) {
	.infobox__slide {
		flex-direction: column-reverse;
		gap: 30px;
		padding: 20px 15px;
	}

	.right h1 {
		font-size: 26px;
	}

	.right .infobox__text {
		font-size: 22px;
	}
}

@media (max-width: 768px) {
	.right h1 {
		font-size: 22px;
	}

	.right .infobox__text {
		font-size: 18px;
	}

	.infobox .left {
		min-width: 0;
		width: 200px;
	}
}

.order {
	position: relative;
	max-width: 1100px;
	padding: 0 15px;
	margin: 0px auto 80px auto;
	display: flex;
	justify-content: center;
}

.order__link {
	position: relative;
	z-index: 2;
	font-size: 32px;
	font-family: 'anonymousprobold', sans-serif;
	display: inline-block;
	margin: 0 auto;
	background-color: #2e2e35;
	color: #E8DCD0;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #2e2e35;
	transition: all 0.3s ease 0s;
}

.order__link:hover {
	background-color: #42424c;
}

.swiper-pagination {
	margin: 35px 0px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.swiper-bullet {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #2e2e35;
	cursor: pointer;
}

.bullet-active {
	background-color: rgb(82, 223, 129);
}

@media (max-width: 900px) {
	.infobox__container {
		padding: 20px 8px 45px 8px;
	}

	.order__link {
		font-size: 24px;
	}

	.infobox__slide {
		padding: 0px;
	}
}