.video {
	margin: 0px 0px 30px 0px;
	text-align: center;
	/* Центрируем все содержимое в секции */
	box-shadow: 8.668px 6.772px 0px 0px rgba(0, 0, 0, 0.26);
	border-radius: 4px;

}

.video .video__container {
	background-color: #fff6e5;
	/* Белый фон для контейнера */
	border-radius: 4px;
	/* Округлые углы */
	width: 100%;
	/* Контейнер занимает всю доступную ширину */
	max-width: 1200px;
	/* Максимальная ширина контейнера */

	border: 3px solid #232324;
}

.video h2 {
	font-size: 29px;
	background-color: #fff6e5;
	color: #232324;
	display: flex;
	width: 100%;
	padding: 10px 10px 10px 30px;
	border-bottom: 3px solid #232324;


}



.video__body {
	position: relative;
	padding: 20px;
}

.video__media {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video__media iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.spinner-border {
	display: inline-block;
	width: 5rem;
	height: 5rem;
	vertical-align: text-bottom;
	border: 0.25em solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	animation: spinner-border 0.75s linear infinite;
	position: absolute;
	top: calc(50% - 2.5rem);
	left: calc(50% - 2.5rem);
}

@keyframes spinner-border {
	100% {
		transform: rotate(360deg);
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/* Стили для ul и li */
.video__body ul {
	padding: 0;
	list-style-type: none;
	text-align: left;
	margin-top: 20px;
}

.video__body li {
	font-size: 18px;
	color: #333;
	margin-bottom: 10px;
}

.video__body a {
	color: #4682B4;
	text-decoration: none;
}

.video__body a:hover {
	color: #d46f1d;
	text-decoration: underline;
}


.video__nav {
	border-top: 3px solid #232324;
	padding: 20px;
	text-align: left;
}

.video__nav span {
	display: block;
	font-size: 18px;
	margin: 0px 0px 15px 0px;
}

.video__buttons {
	display: flex;
	gap: 17px;
	align-items: center;
}

.video__button {
	background-color: #232324;
	width: 38px;
	height: 38px;
	color: #fff6e5;
	border-radius: 5px;
}

.current-video {
	background-color: #4682B4;
}