.about {
	position: relative;
}

.about__container {
	position: relative;
	z-index: 2;
	max-width: 1200px;
	padding: 80px 15px 0px 15px;
	margin: 0 auto;
}

.about__row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.about__row:not(:last-child) {
	margin: 0px 0px 60px 0px;
}

.about__title {
	margin: 0px 0px 20px 0px;
	color: #2e2e35;
	position: relative;
	min-width: 188px;
}

.about__title h1 {
	font-size: 38px;
}

.about__text {
	color: #2e2e35;
	font-size: 20px;
	font-weight: 600;
	font-family: "unbounded", Arial, Helvetica, sans-serif;
}

.about__text:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.highlight {
	color: #e0872d;
	font-weight: bold;
}

.about__row {
	display: flex;
	flex-direction: row;
	gap: 100px;
}

@media (max-width: 850px) {
	.about__row {
		flex-direction: column;
		gap: 40px;
	}
}

/* ========================================================== */
.team__container {
	max-width: 1200px;
	padding: 90px 15px 120px 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.team__title {
	margin: 0px 0px 40px 0px;
	position: relative;
	display: inline-block;
}

.title-underline h1 {
	position: relative;
	z-index: 3;
}

.title-underline::before {
	content: "";
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: 6px;
	left: 0;
	background-color: #e5a462;
}

.team__members {
	position: relative;
	display: flex;
	width: 100%;
}

.team__member {
	display: flex;
	flex-direction: column;
}

.member__image {
	min-height: 190px;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px 8px 0px 0px;
}

.member-img {
	border-radius: 8px;
}

.member__body {
	background-color: #404046;
	color: #eee;
	font-family: "unbounded", Arial, Helvetica, sans-serif;
	text-align: left;
	padding: 15px 25px;
	border-radius: 0px 0px 8px 8px;
	flex: 1 1 100%;
}

.member__name {
	margin: 0px 0px 8px 0px;
	color: #eee;
}

.member__post {
	font-size: 14px;
	color: #d3d3d3;
}

/* ================================================== */
.swiper-pagination {
	margin: 35px 0px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.swiper-bullet {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #2e2e35;
	cursor: pointer;
}

.bullet-active {
	background-color: rgb(82, 223, 129);
}