.footer {
	position: relative;
}

.footer__wrapper {
	background-color: #2e2e35ad;
	position: relative;
	z-index: 2;
}

.footer__container {
	max-width: 1200px;
	padding: 160px 15px;
	gap: 140px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.footer__title {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	font-size: 28px;
	font-family: "intro", sans-serif;
	color: #E8DCD0;
}

.column-footer__title {
	margin: 0px 0px 20px 0px;
	border-radius: 2px;
	display: inline-block;
	padding: 4px 8px;
	background-color: rgb(82, 223, 129);
	color: #2e2e35;
	font-family: "anonymousprobold", sans-serif;
}

.column-footer__body {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.column-horizontal {
	flex-direction: row;
}

.footer__columns {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	justify-content: center;
	gap: 100px;
}

.column-footer__row {
	color: #E8DCD0;
	font-size: 18px;
	position: relative;
	display: inline-block;
}

.column-footer__link {
	position: relative;
	z-index: 2;
	display: flex;
	gap: 9px;
	align-items: center;
	transition: all 0.1s ease 0s;
}

/* Ховер-эффект для ссылок */
.column-footer__row::before {
	content: "";
	display: block;
	width: 0px;
	height: calc(100% + 5px);
	background-color: rgb(82, 223, 129);
	position: absolute;
	border-radius: 2px;
	top: -2.5px;
	left: -2.5px;
	transition: all 0.2s ease 0s;
}

.column-footer__row:hover.column-footer__row::before {
	width: calc(100% + 5px);
}

.column-footer__row:hover .column-footer__link {
	color: #2e2e35;
}

/* Ховер-эффект для иконок */
.column-footer__link img {
	transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.column-footer__link:hover img {
	transform: scale(1.1);
	/* Увеличение иконки */
	filter: grayscale(100%) brightness(0);
	/* Делаем иконку черной */
	opacity: 1;
}

.footer__bottom {
	min-height: 40px;
	background-color: #2e2e35;
}

@media (max-width: 860.23px) {
	.footer__wrapper {
		background-color: #2e2e35;
	}
}

@media (max-width: 1040px) {
	.footer__container {
		padding: 50px 15px;
		gap: 70px;
	}

	.footer__columns {
		justify-content: flex-start;
	}

	.footer__columns {
		gap: 50px;
	}
}

@media (max-width: 552px) {
	.footer__container {
		justify-content: center;
	}
}

@media (max-width: 520px) {
	.footer__columns {
		flex-direction: column;
		width: 100%;
	}

	.footer__container {
		flex-direction: column;
	}

	.footer__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}