.footer {
	position: relative;
}

.footer__wrapper {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
}

.footer__container {
	width: auto;
	gap: 140px;
	padding-top: 40px;
	padding-bottom: 80px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.footer__title {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	font-size: 30px;
	font-family: 'Caviar Dreams Bold', sans-serif;
	color: #fff6e5;

}

._background {
	position: absolute;
	top: 0;
	left: 0;
	background: url("/images/footer/bg.png");
	background-size: cover;
	margin: 0px 0px -85px 0px;
	width: 100%;
	height: 100%;
  }
  
  ._background::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  

.column-footer__title {
	margin: 0px 0px 20px 0px;
	border-radius: 5px;
	border: 3px solid #2e2e35;
	display: inline-block;
	padding: 4px 8px;
	background-color: #ffe8d3;
	color: #2e2e35;
	font-family: "Intro", sans-serif;
}

.column-footer__body {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.column-horizontal {
	flex-direction: row;
}

.footer__columns {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	justify-content: center;
	gap: 100px;
}

.column-footer__row {
	font-size: 18px !important;
	position: relative;
	display: inline-block;
	width: 100%;
}

.column-footer__link {
	position: relative;
	z-index: 2;
	display: flex;
	gap: 9px;
	font-size: 18px;
	align-items: center;
	transition: all 0.1s ease 0s;
	font-family: sans-serif;
	color: #ffe8d3;
}

/* Ховер-эффект для ссылок */
.column-footer__row::before {
	content: "";
	display: block;
	width: 0px;
	height: calc(100% + 5px);
	background-color: #ffe8d3;
	position: absolute;
	border-radius: 2px;
	top: -2.5px;
	left: -2.5px;
	transition: all 0.2s ease 0s;
}

.column-footer__row:hover.column-footer__row::before {
	width: calc(100% + 5px);
}

.column-footer__row:hover .column-footer__link {
	color: #2e2e35;
}



.column-footer__link:hover img {
	transform: scale(1.1);
	/* Увеличение иконки */
	filter: grayscale(100%) brightness(0);
	/* Делаем иконку черной */
	opacity: 1;
}

.footer__bottom {
	min-height: 40px;
	background-color: #2e2e35;
}


@media (max-width: 1340px) {
	.footer__container {
		gap: 70px;
	}

	.footer__columns {
		justify-content: flex-start;
	}

	.footer__columns {
		gap: 50px;
		justify-content: center;
		padding: 0px 10px;
	}
}

@media (max-width: 1050px) {

	.footer__container {
		justify-content: center;
		padding-left: 0px;
	}

	
}

@media (max-width: 552px) {
	.footer__container {
		justify-content: center;
	}
}

@media (max-width: 520px) {
	.footer__columns {
		flex-direction: column;
		
	}

	.footer__container {
		flex-direction: column;
	}

	.footer__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}