.footer--guides ._background {
	position: none;
	top: none;
	left: none;
	background: none;
	background-size: none;
	margin: none;
	width: none;
	height: none;
    background-color: none;
    background-size: none;
  }
  


.footer--guides ._background::before {
	content: "";
	display: block;
	position: absolute;
	top: none;
	left: none;
	width: none;
	height: none;
	background-color: none;
  }

.footer--guides .column-footer__link {
	color: #2e2e35;
}
  
.footer--guides .footer__container {
	position: relative;
    border: 3px solid #2e2e35;
    gap: 30px;
    box-shadow: 8.776px 8.184px 0px 0px rgba(0, 0, 0, 0.3);
    margin: 0 14px 0 14px;
}

.footer--guides .footer__columns {
	justify-content: left;
	gap: 40px;
}

.footer--guides .footer__wrapper {
    padding-bottom: 40px;
    

}

.footer--guides .footer__title {
	color: #2e2e35;
}

.footer--guides .column-footer__row {
	color: #2e2e35;

}


.footer--guides .column-footer__title {
	background-color: #ffe8d3;
	color: #2e2e35;
    border: 3px solid #2e2e35;
    border-radius: 5px;
    font-family: 'intro', sans-serif; 
    box-shadow: 6.314px 5.82px 0px 0px rgba(0, 0, 0, 0.67);
    margin-right: 20px;

}

.footer--guides .column-footer__row::before {

	background-color: #ffe8d3;


}

.footer--guides .footer__container{
    width: 100%;
    max-width: 1170px;
    padding-left: 40px;
    padding-top: 50px;
}


.footer--guides .footer__icons{
    filter: brightness(0%) saturate(100%);
}

.footer--guides .footer_title_logo {
    width: 280px;
    height: 280px;
}


.footer--default ._background::before {
	background-color: #2e2e3575;
  }

.footer--default .footer__wrapper {
    background-color: #2e2e35ad;
    

}

.footer--about ._background { 
	position: none;
	top: none;
	left: none;
	background: none;
	background-size: none;
	margin: none;
	width: none;
	height: none;
    background-color: #232324;
    background-size: none;
}

.footer--about ._background::before {
	content: "";
	display: block;
	position: absolute;
	top: none;
	left: none;
	width: none;
	height: none;
	background-color: none;
}

.footer--about .column-footer__link {
	color: #ffe8d3;
}
  
.footer--about .footer__container {
	position: relative;
    max-width: 1170px;
    gap: 30px;
    margin: 0 14px 0 14px;
}

.footer--about .footer__columns {
	justify-content: left;
	gap: 40px;
}

.footer--about .footer__wrapper {
    padding-bottom: 40px;
}

.footer--about .footer__title {
	color: #ffe8d3;
}

.footer--about .column-footer__row {
	color: #ffe8d3;
}

.footer--about .column-footer__title {
	background-color: #ffe8d3;
	color: #232324;
    border-color: #ffe8d3;
    border-radius: 2px;
    font-family: 'intro', sans-serif; 
    box-shadow: 6.314px 5.82px 0px 0px rgba(0, 0, 0, 0.67);
}

.footer--about .footer__container {
    width: 100%;
    max-width: 1180px;
}

.footer--about .footer_title_logo {
    width: 280px;
    height: 280px;
}
.footer--about .column-footer__row::before {

	background-color: #ffe8d3;


}

.footer--about .footer__columns {
    margin-left: 60px;
}




@media (max-width: 860.23px) {
	.footer--default .footer__wrapper {
		background-color: #2e2e35;
	}
    .footer--guides .footer_title_logo {
        width: 180px;
        height: 180px;
    }
    
}


@media (max-width: 520px) {
   
}