/* Сброс всех отступов и границ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Убираем стандартный стиль для ссылок, фокуса и активных состояний */
:focus,
:active,
a:focus,
a:active {
  outline: none;
}

/* Сброс базовых стилей для html и body */
html,
body {
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* Базовый шрифт для всего документа */
  font-size: 100%;
  /* Включаем наследование шрифта */
  line-height: 1.4;
  /* Удобная высота строки для текста */
  -webkit-font-smoothing: antialiased;
  /* Для улучшения рендеринга шрифтов */
  -moz-osx-font-smoothing: grayscale;
}


/* Сброс стилей для форм */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
  background: transparent;
  appearance: none;
  /* Упрощенный сброс */
}

/* Сброс стилей для ссылок */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Убираем стандартные маркеры у списка */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}

/* Сброс стилей для изображений */
img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}



/* Сброс стилей для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

/* Убираем стандартные стили для таблиц */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  padding: 0;
}

th,
td {
  padding: 0;
  border: 1px solid #ddd;
  /* Легкий бордер для таблиц */
}

/* Общий сброс для форм */
form {
  margin: 0;
  padding: 0;
}

/* Убираем стандартные стили для кнопок */
button {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
  padding: 0;
}

/* Убираем дефолтное поведение для внутренних объектов */
iframe,
object,
embed {
  border: none;
  padding: 0;
  margin: 0;
}

/* Убираем дефолтное поведение для элементов форм */
select,
option {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  padding: 75px 0px 0px 0px;
}

.main-callback {
  height: 100vh;
}

.wrapper {
  position: relative;
  height: 100%;
  background-color: #fff6e5;
}

.menu-active {
  overflow-y: hidden;
}

.popup-active {
  overflow-y: hidden;
}

._main-title {
  text-align: center;
  font-size: 28px;
  font-family: intro, sans-serif;
  color: #2e2e35;
}


.popup {
  display: none;
}

@media (max-width: 678px) {
  ._main-title {
    font-size: 24px;
  }
}


@font-face {
  font-family: 'intro';
  src: url('../fonts/intro.woff2') format('woff2'),
    url('../fonts/intro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cheque';
  src: url('../fonts/Cheque-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTW1G-Blk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unbounded';
  src: url('../fonts/unbounded.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'anonymousprobold';
  src: url('../fonts/anonymousprobold.woff2') format('woff2'),
    url('../fonts/anonymousprobold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams Bold';
  src: url('../fonts/Caviar_Dreams_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar';
  src: url('../fonts/CaviarDreams.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Для лучшего поведения на мобильных устройствах */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    /* Уменьшаем размер шрифта на мобильных устройствах */
  }
}

.spinner-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
}

@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}

.highlight {
  color: rgb(255, 217, 0);
}

.img-modal .spinner-border {
  border: 0.25em solid #fff;
  border-right-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}