.content {
    display: flex;
    gap: 20px;
    max-width: 1980px;
    margin: 0px auto;
    padding: 20px 0px;
}

.main-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.main-content .gallery {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.main-content .gallery img {
    max-width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 900px) {
    .content {
        flex-direction: column;
    }
}

.main-content {
    flex: 1;
    padding: 20px 20px 20px 50px;
    background-color: #f5f5f5;
    border-radius: 13px 0px 0px 13px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'intro', sans-serif;
    color: #2e2e35;
}

.main-content h2 {
    font-size: 1.8rem;
    /* Размер заголовков */
    color: #2e2e35;
    /* Цвет заголовков */
    font-family: 'anonymousprobold', sans-serif;
    /* Используемый шрифт */
    margin-bottom: 15px;
    /* Отступ снизу */
}

.main-content ul {
    padding-left: 10px;
}

.main-content ul li {
    font-size: 1rem;
    /* Размер текста элементов списка */
    color: #2e2e35;
    /* Основной цвет текста */
    line-height: 1.5;
    /* Межстрочный интервал */
    margin-bottom: 10px;
    /* Отступ между элементами */
}

.main-content a:hover {
    text-decoration: underline;
    /* Подчеркивание при наведении */
}


.main-content .details p,
.main-content .author p {
    font-size: 1rem;
    /* Размер текста */
    line-height: 1.6;
    /* Межстрочный интервал */
    color: #2e2e35;
    /* Цвет текста */
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-content .details1 p {
    font-size: 1rem;
    /* Размер текста */
    line-height: 1.6;
    /* Межстрочный интервал */
    color: #2e2e35;
    /* Цвет текста */
    margin-top: 10px;
    width: 75%;
    margin-bottom: 20px;
}



.main-content .comments button {
    padding: 10px 20px;
    background-color: #2e2e35;
    /* Темный фон кнопки */
    color: #f5f5f5;
    /* Светлый текст кнопки */
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.main-content .comments button:hover {
    background-color: #444;
}
