/* Главный контейнер, центрирующий содержимое */
.guides-container {
    display: flex;
    justify-content: center; /* Центрирует контент по горизонтали */
    width: 100%;
    min-height: 100vh;
    background-color: #fff6e5;
}


/* Внутренний контейнер */
.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    padding: 15px;
    background: #fff6e5;
    border-radius: 10px;
}

/* Боковая панель */
.aside {
    min-width: 300px;
    transition: all 0.3s ease-in-out;
}

/* Основной контент */
.main-content {
    background-color: #fff6e5;
    border-radius: 13px;
    padding: 20px 0px 0px 0px;
    font-family: 'intro', sans-serif;
    color: #2e2e35;
}

/* Адаптация для экрана 950px и меньше */
@media (max-width: 950px) {
}

/* Дополнительная адаптация для мобильных устройств */
@media (max-width: 768px) {

    .masterclass-title {
        font-size: 40px !important;
    }
    .masterclass-subcategory-container h2 {
        font-size: 18px !important;
        width: 100% !important;
    }

    .masterclass-title-container {
        width: 100% !important;
    }
    .video__container h2 {
        font-size: 20px !important;
    }
    .examples h2 {
        font-size: 20px !important;
    }
    .author h2 {
        width: 100% !important;
    }
}

@media (max-width: 400px) {

    .masterclass-title {
        font-size: 30px !important;
    }
    
}


