
.header--default {
	background-color: #fff6e5;
    color: #232324;
    
}

.header--default .header__support  {
	background-color: #232324; 
    color: #fff6e5;
}

.header--default .Support-img{
    filter: invert(94%) sepia(10%) saturate(300%) hue-rotate(10deg);
}

.header--default ._menu {
    background-color: #fff6e5;
}

.header--default .menu__link::after {
    background-color: #fff6e5;
    border: 2px solid #232324;
}


.header--default .icon-menu {
    background-color: #fff6e5;
}

.header--default  .icon-menu span {
	background-color: #232324;
}

.header--default  .icon-menu::before {
	background-color: #232324;
}

.header--default .icon-menu::after{
    background-color: #232324;
}
.header--default .header__support:hover {
	background-color: #fff6e5;
	color: #232324;
}

.header--default .header__support:hover .logo-img {
	filter: invert(87%) sepia(0%) saturate(300%) hue-rotate(0.06deg);
}

.header--default .menulang button {
    color: #232324;

}


/*===============================================*/


.header--about {
	background-color: #232324;
    color: #fff6e5;
}

.header--about .header__support  {
	background-color: #fff6e5; 
    color: #232324;
}

.header--about .Support-img {
    filter: invert(6%) sepia(0%) saturate(300%) hue-rotate(0.06deg);
}

.header--about ._menu {
    background-color: #232324;
}

.header--about .menu__link::after {
    background-color: #232324;
    border: 2px solid #fff6e5;
}

.header--about .icon-menu {
    background-color: #232324;
}

.header--about .icon-menu span {
	background-color: #fff6e5;
}

.header--about .icon-menu::after, .icon-menu::before {
	background-color: #fff6e5;
}

.header--about .header__support:hover {
	background-color: #232324;
	color: #fff6e5;
}

.header--about .header__support:hover .logo-img {
	filter: invert(94%) sepia(10%) saturate(300%) hue-rotate(10deg);
}

.header--about .menulang button {
    color: #fff6e5;

}



/*===============================================*/

.header--guides {
	background-color: #232324;
    color: #fff6e5;
    box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.34);
}


  


.header--guides .header__support  {
	background-color: #fff6e5; 
    color: #232324;
}

.header--guides .Support-img {
    filter: invert(0%) sepia(100%) saturate(363%) hue-rotate(-28.66deg);
}

.header--guides ._menu {
    background-color: #232324;
}

.header--guides .menu__link::after {
    background-color: #232324;
    border: 2px solid #fff6e5;
}

.header--guides .icon-menu {
    background-color: #232324;
}

.header--guides .icon-menu span {
	background-color: #fff6e5;
}

.header--guides .icon-menu::after, .icon-menu::before {
	background-color: #fff6e5;
}

.header--guides .header__support:hover {
	background-color: #232324;
	color: #fff6e5;
}

.header--guides .header__support:hover .logo-img {
	filter: invert(0%) sepia(100%) saturate(363%) hue-rotate(-28.66deg);
}

.header--guides  .menulang button {
    color: #fff6e5;

}

