
.header--default {
	background-color: #fff6e5;
    color: #232324;
    border-bottom: 2px solid #6156fa;
}

.header--default .menulang button {
	padding: 4px 8px;
	border: none;
	background: transparent;
	color: black;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 6px;
}

.header--default .menulang button:hover:not(.active) {
	background-color: #333;
	color: white;
}

.header--default .menulang button.active {
	background-color: black;
	color: white !important;
}




.header--default .header__support  {
	background-color: #232324; 
    color: #fff6e5;
}



.header--default ._menu {
    background-color: #fff6e5;
}

.header--default .menu__link::after {
    background-color: #fff6e5;
    border: 2px solid #232324;
}


.header--default .icon-menu {
    background-color: #fff6e5;
}

.header--default  .icon-menu span {
	background-color: #232324;
}

.header--default  .icon-menu::before {
	background-color: #232324;
}

.header--default .icon-menu::after{
    background-color: #232324;
}
.header--default .header__support:hover {
	background-color: #fff6e5;
	color: #232324;
}


.header--default .Support-img {
    filter: invert(94%) sepia(10%) saturate(300%) hue-rotate(10deg);
    transition: filter 0.3s ease;
}

.header--default .header__support:hover .Support-img {
    filter: none !important;
}


.header--default .menulang button {
    color: #232324;

}


/*===============================================*/


.header--about {
	background-color: #232324;
    color: #fff6e5;
    border-bottom: 2px solid #ffec7d;
}


.header--about .menulang button {
	padding: 4px 8px;
	border: none;
	background: transparent;
	color: black;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 6px;
}

.header--about .menulang button:hover:not(.active) {
	background-color: #fff6e5;
	color: black !important;
}

.header--about .menulang button.active {
	background-color: #fff6e5;
	color: black !important;
}




.header--about .header__support  {
	background-color: #fff6e5; 
    color: #232324;
}



.header--about ._menu {
    background-color: #232324;
}

.header--about .menu__link::after {
    background-color: #232324;
    border: 2px solid #fff6e5;
}

.header--about .icon-menu {
    background-color: #232324;
}

.header--about .icon-menu span {
	background-color: #fff6e5;
}

.header--about .icon-menu::after, .icon-menu::before {
	background-color: #fff6e5;
}

.header--about .header__support:hover {
	background-color: #232324;
	color: #fff6e5;
}

.header--about .header__support:hover .Support-img {
    filter: invert(94%) sepia(10%) saturate(300%) hue-rotate(10deg);
    transition: filter 0.3s ease;
}


.header--about .menulang button {
    color: #fff6e5;

}



/*===============================================*/

.header--guides {
	background-color: #232324;
    color: #fff6e5;
    border-bottom: 2px solid #537ef5;
    box-shadow: 0 0 0 1px black; 
}

.header--guides .menulang button {
	padding: 4px 8px;
	border: none;
	background: transparent;
	color: black;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 6px;
}

.header--guides .menulang button:hover:not(.active) {
	background-color: #fff6e5;
	color: black ;
}

.header--guides .menulang button.active {
	background-color: #fff6e5;
	color: black !important;
}

  


.header--guides .header__support  {
	background-color: #fff6e5; 
    color: #232324;
}

.header--guides .header__support:hover .Support-img {
    filter: invert(94%) sepia(10%) saturate(300%) hue-rotate(10deg);
    transition: filter 0.4s ease;
}

.header--guides ._menu {
    background-color: #232324;
}

.header--guides .menu__link::after {
    background-color: #232324;
    border: 2px solid #fff6e5;
}

.header--guides .icon-menu {
    background-color: #232324;
}

.header--guides .icon-menu span {
	background-color: #fff6e5;
}

.header--guides .icon-menu::after, .icon-menu::before {
	background-color: #fff6e5;
}

.header--guides .header__support:hover {
	background-color: #232324;
	color: #fff6e5;
}

.header--guides .header__support:hover .logo-img {
	filter: invert(0%) sepia(100%) saturate(363%) hue-rotate(-28.66deg);
}

.header--guides  .menulang button {
    color: #fff6e5;

}

