.master-class {
	margin: 0px 0px 50px 0px;
}

.masterclass-title-container {
	display: flex;
	justify-content: center;
	/* Центрує заголовок по горизонталі */
}

.masterclass-title {
	font-size: 26px;
	background-color: #2e2e35;
	/* Чорний фон */
	color: #E8DCD0;
	/* Білий текст */

	display: flex;
	/* Використовуємо Flexbox для центрівки контенту */
	justify-content: center;
	/* Центрує контент по горизонталі */
	align-items: center;
	/* Центрує контент по вертикалі */
	width: 100%;
	/* Ширина блока становить 100% від батьківського елемента */
	max-width: 400px;
	/* Максимальна ширина для заголовка */
	padding: 10px;
	border-radius: 5px;
	/* Округлені кути */
	margin-bottom: 30px;
	/* Додаємо відступ знизу між заголовками */
}

.masterclass-subcategory-container {
	width: 100%;
	/* Ширина контейнера */
	display: flex;
	flex-direction: column;
	/* Элементы внутри будут располагаться вертикально */
	align-items: flex-start;
	/* Выравниваем элементы по левому краю */
	margin-bottom: 20px;
	/* Отступ снизу */
	padding: 20px;
	/* Отступ внутри блока */
	background-color: #E8DCD0;
	/* Светлый фон для контейнера */
	border-style: solid;
	border-width: 1px;
	border-color: rgb(117, 117, 117);
	border-radius: 2px;
	/* Округлые углы */
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.63);
}

.masterclass-subcategory-container h2 {
	font-size: 20px;
	/* Размер шрифта остаётся таким же, как у h1 */
	text-align: center;
	/* Центрируем текст */
	background-color: #2e2e35;
	/* Черный фон */
	color: #E8DCD0;
	/* Белый текст */
	display: flex;
	/* Используем Flexbox для центрирования содержимого */
	justify-content: center;
	/* Центрируем по горизонтали */
	align-items: center;
	/* Центрируем по вертикали */
	width: 250px;
	padding: 8px 10px;
	border-radius: 5px;
	/* Округлые углы */
	margin-bottom: 20px;
	/* Отступ снизу */
}


.masterclass-subcategory-container ul {
	list-style-type: none;
	/* Убираем маркеры списка */
	padding: 0;
	margin-top: 0;
	/* Убираем отступ сверху */
	margin-bottom: 0;
	/* Убираем отступ снизу */
}

.masterclass-subcategory-container li {
	font-size: 18px;
	/* Размер шрифта для элементов списка */
	text-align: left;
	/* Выравнивание текста по левому краю */
	margin-bottom: 10px;
	/* Отступ снизу для элементов списка */
}

.lekala-link {
	font-size: 18px;
	color: #4682B4;
	/* Синий цвет для ссылок */
}

.invalid-link {
	font-family: 'intro', serif;
	color: #d46f1d;
	font-size: 15px;
	font-style: italic;
	font-weight: 500;
	position: relative;
}

@media (max-width: 590px) {
	.masterclass-subcategory-container li {
		font-size: 14px;
	}

	.lekala-link {
		font-size: 16px;
	}
}