.Team-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -11px 35px 0px rgba(0, 0, 0, 0.63);
  background-color: #232324;
  flex-direction: column;
  padding: 50px 0 0 0;
}

.team_title_about{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f6f0d9; 
  font-size: 40px;
  font-family: 'Caviar Dreams Bold', sans-serif; 
  text-shadow: 1.516px 1.034px 0px rgba(0, 0, 0, 0.97);


}


.team_title_about_column{
  width: 600px;
  height: 3px;
  background-color: #e8dcd0;
}


.Team-box {
  width: 100%;
  max-width: 1700px;
  background-color: #232324;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 60px 15px;
  justify-items: center;
}

@media (max-width: 568px) {
  .Team-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

.Team-member {
  width: auto;
  height: auto;
  display: flex;
  margin-top: 28px;
  flex-direction: column;
  /* Робимо вертикальний розподіл */
  margin-bottom: 20px;
  text-align: center;
}

.Team-member .top {
  width: auto;
  /* Робимо ширину 100% від батьківського контейнера */
  height: auto;
  /* Половина висоти Team-member */
  display: flex;
  justify-content: center;
}

.Team-member .bot {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Member-Icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0.668px 0.772px 30px 0px rgba(0, 0, 0, 0.33);
}


.member-title {
  font-size: 20px;
  color: #e8dcd0;
  font-family: "intro";
  width: 100%;
  text-align: center;

}

.member-text {
  color: #e8dcd0;
  font-size: 30px;
  font-family: "Caviar";
  line-height: 1.6;

}

@media (max-width: 1450px) {
  .Member-Icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* Делает изображение круглым */
    object-fit: cover;
    /* Обрезает изображение, сохраняя пропорции */
  }

  .member-title {
    font-size: 15px;


  }

  .member-text {

    font-size: 25px;


  }
}


@media (max-width: 950px) {
  .Member-Icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* Делает изображение круглым */
    object-fit: cover;
    /* Обрезает изображение, сохраняя пропорции */
  }

  .member-title {
    font-size: 10px;


  }

  .member-text {

    font-size: 20px;


  }

  .Team-box {
    padding: 50px 15px;
  }
}

@media (max-width: 875px) {
  .team_title_about{
    font-size: 28px;
  }
  .team_title_about_column{
    width: 425px;
  }
}

@media (max-width: 560px) {
  .team_title_about{
    font-size: 27px;
  }
  .team_title_about_column{
    width: 325px;
  }
  
}