.partners {
	position: relative;
	height: auto;

	text-align: center;

	padding: 40px 0 40px 0;
  	z-index: 1;
	margin-top: -20px; /* сдвигаем ближе, чтобы казалось что тень падает */
}



.partners__container {
	max-width: 1200px;
	padding: clamp(10px, 3vw, 15px);
	margin: 0 auto;
	cursor: pointer;
	gap: 20px;
}

.partners__title {
	font-size: 42px;
	color: #232324;
	display: inline-block;
	font-family: 'Caviar Dreams Bold', sans-serif;
	position: relative;
}

.wrapper_partner_line {
	width: 100%;
	display: flex;
	justify-content: center;
}
.partners__line {
	width: calc(100% + clamp(10px, 2vw, 30px));
	max-width: 500px;
	height: clamp(2px, 0.5vw, 4px);
	background-color: #232324;

	border-radius: 1px;
}

.partners__row {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: clamp(10px, 1.5vw, 20px);
	justify-items: center;
	align-items: center;
	height: clamp(150px, 12vw, 200px);
	width: 100%;
}

.partners__partner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.partner__img-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.partners__partner img {
	width: clamp(100px, 12vw, 140px); /* Увеличил размер картинок */
	height: clamp(100px, 12vw, 140px); /* Увеличил размер картинок */
	object-fit: contain;
	transition: transform 0.3s ease;
}

.partners__partner img:hover {
	transform: scale(1.1);
}

.partners__slider .slick-list {
	height: clamp(150px, 12vw, 200px);

}



/* Адаптивность */
@media (max-width: 1024px) {
	.partners__row {
		grid-template-columns: repeat(4, 1fr); /* 4 элемента в ряд */
		gap: 10px; /* Уменьшил расстояние между картинками */
	}

	.partners__slider .slick-list {
		height: clamp(150px, 10vw, 200px); /* Уменьшена высота слайдера */
	}

}

@media (max-width: 768px) {
	.partners__row {
		grid-template-columns: repeat(3, 1fr); /* 3 элемента в ряд */
		gap: 8px; /* Уменьшил расстояние между картинками */
	}


	.partners__slider .slick-list {
		height: clamp(140px, 9vw, 180px); /* Уменьшена высота слайдера */
	}
}


@media (max-width: 720px) {
	.partners__line {

}

	.partners__title {
	font-size: 30px;
	
}

}



@media (max-width: 480px) {
	.partners__row {
		grid-template-columns: repeat(2, 1fr); /* 2 элемента в ряд */
		gap: 5px; /* Уменьшил расстояние между картинками */
	}

	.partners__slider .slick-list {
		height: clamp(120px, 8vw, 160px); /* Уменьшена высота слайдера */
	}
}
